.section01 {
  background: url('img/section01-background.jpg') no-repeat center;
  background-size: cover;
  margin: 0;
  color: white;
}

h5,
p {
  margin: 0;
}

h5 {
  font-size: calc(15px + 1vw);
}

p {
  font-size: calc(10px + 1vw);
}


h2 {
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: calc(20px + 3vw);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.5vw;
}

.card {
  display: flex;
  background-color: #ff94d7;
  height: 120px;
  width: 80%;
  min-width: 280px;
  border: none;
  position: relative;
}

.div-img01 {
  position: absolute;
  bottom: 0;
  width: 50%;
  max-width: 163px;
}

.card-text01 {
  align-self: flex-end;
  margin: auto 0 auto 0;
  padding-left: 30px;
}

@media screen and (max-width: 576px) {
  .section01 {
    background: url('img/section01-mobile-background.jpg') no-repeat center;
    background-size: cover;
  }
}

@media screen and (max-height: 500px) and (orientation: landscape) { 
  .card {
    height: 70px;
    width: 70%;
    min-width: 280px;
    border: none;
    position: relative;
  }

  .div-img01 {
    position: absolute;
    bottom: 0;
    width: 35%;
    max-width: 163px;
  }
}
